:root {
  --search-bar-height: 80px;
}

.App {
  margin: 0;
  padding: 5px;
  background-color: aquamarine;
  text-align: center;
  background: linear-gradient(54deg, rgba(172,80,242,.3) 0%, rgba(0, 116, 139, .65) 23%, rgba(0, 139, 139, .8) 46%, rgba(0, 139, 58, 0.6) 75%, rgba(189, 236, 18, 0.2) 100%);
}

h1 {
  padding: 20px;
  border-bottom: 2px solid black;
}

h1, h2, h3 {
  margin: 0;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 40px;
}

/* ****** Search Field ****** */

.search-field {
  height: var(--search-bar-height);
  width: fit-content;
  padding: 18px 50px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  background: rgb(254, 255, 204);
  border-radius: 70px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgb(121, 121, 121);
}

.search-field > form {
  display: flex;
  justify-content: center;
  gap: 15px;
}


/* ****** Content ****** */

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 40px 20px;
  min-height: calc(100vh - var(--search-bar-height));
}

.content > h2 {
  text-shadow: 1px 1px 4px rgb(203, 230, 230);
  width: 100%;
}

.post {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 250px;
  height: 30%; 
  min-width: 210px;
  width: 25%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 7px;
  background: rgba(0,0,0, .3);
  box-shadow: 1px 1px 8px rgb(68, 68, 68);
}

.post > a {
  width: 84%;
} 

.post > a > img {
  width: 100%;
}

.post > button {
  background: none;
  border: none;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}