:root {
  --search-bar-height: 100px;
}

.App {
  margin: 0;
  background-color: aquamarine;
  text-align: center;
}

h2, h3 , h4{
  margin: 0;
}

/* ****** Search Field ****** */

.search-field{
  height: var(--search-bar-height);
  background-color: burlywood;
}


/* ****** Content ****** */

.content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 40px 20px;
  background-color: cornsilk;
  min-height: calc(100vh - var(--search-bar-height));
}

.content, h2 {
  width: 100%;
}

.post{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 250px;
  height: 30%; 
  min-width: 220px;
  width: 25%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
}

.post > a {
  width: 80%;
} 

.post > a > img {
  width: 100%;
}