:root {
  --search-bar-height: 100px;
}

.App {
  margin: 0;
  background-color: aquamarine;
  text-align: center;
}

h2, h3 {
  margin: 0;
  padding: 20px;
}

.search-field{
  height: var(--search-bar-height);
  background-color: burlywood;
}

.content{
  background-color: cornsilk;
  min-height: calc(100vh - var(--search-bar-height));
}
